@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@font-face {
  font-family: BonnetGrotesqueNr;
  font-display: swap;
  src: url(../fonts/BonnetGrotesqueNr-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: min(130vmin,125vmax);
  margin: 0 auto
}
.menu__list {
  display: flex;
  align-items: center;
  gap: min(4vmin,7vmax)
}
.menu__link {
  color: #fff;
  font-size: min(2vmin,3vmax);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  position: relative
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: .1875rem;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all .3s;
  border-radius: 12px;
  background-color: #f6d944
}
.menu__link:hover::before {
  width: 100%
}
.menu__link.active::before {
  width: 25%
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.language-block__button {
  color: #fff;
  font-family: Inter;
  font-size: min(2vmin,3vmax);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 6%;
  text-align: center;
  justify-content: center;
  background-color: rgba(108,108,108,.49);
  padding: 4px 12px;
  border-radius: 12px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px
}
.language-block__button::after {
  content: "";
  display: block;
  width: .625rem;
  height: 8px;
  background: url(../img/icons/arrow-lang.svg) 0 0 no-repeat
}
.language-block__list {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0
}
.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #102025;
  font-size: min(2vmin,3vmax);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: min(2.3vmin,3vmax) min(7vmin,9vmax);
  min-width: 5.5rem;
  min-height: 1.875rem;
  background-color: #f6d944;
  border-radius: 3.5rem;
  transition: all .3s
}
.button-primary:hover {
  background-color: #eec600
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}
.header__logo img {
  width: min(18vmin,35vmax);
  min-width: 7.5rem;
  max-width: 12.5rem
}
.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}
.header__language {
  margin-left: min(5vmin,10vmax)
}
.header {
  padding: 1.25rem 0
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.hero {
  min-height: 100vh;
  background: url(../img/hero-bg.jpg) center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center
}
.hero__container {
  max-width: min(150vmin,125vmax)
}
.hero__suptitle {
  color: #f6d944;
  font-family: BonnetGrotesqueNr;
  font-size: min(7vmin,13vmax);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: min(1vmin,3vmax)
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center
}
.hero__title {
  margin-bottom: min(4vmin,7vmax)
}
.hero__title h1 {
  color: #fff;
  font-family: BonnetGrotesqueNr;
  font-size: min(16.5vmin,25vmax);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase
}
.hero__title h2 {
  font-family: BonnetGrotesqueNr;
  font-size: min(14.5vmin,25vmax);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  color: transparent
}
@media (min-width:74.375em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
}
@media (max-width:20em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em)and (max-width:74.375em) {
  @supports (padding-left:clamp(0.9375rem ,0.9375rem + 0vw ,0.9375rem)) {
    [class*=__container] {
      padding-left: clamp(.9375rem ,.9375rem + 0 ,.9375rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,0.9375rem + 0vw ,0.9375rem)) {
    [class*=__container] {
      padding-left: calc(.9375rem + 0*(100vw - 20rem)/ 54.375)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,0.9375rem + 0vw ,0.9375rem)) {
    [class*=__container] {
      padding-right: clamp(.9375rem ,.9375rem + 0 ,.9375rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,0.9375rem + 0vw ,0.9375rem)) {
    [class*=__container] {
      padding-right: calc(.9375rem + 0*(100vw - 20rem)/ 54.375)
    }
  }
}